body{
margin:0 70px;
}

.container{
display: flex;
gap: 90px;
}
table, th, td {
  border: 1px solid;
}



table {
  border-collapse: collapse;
}

.empDataTable{

}

#recordsTable {
    border: 1px solid;
    width: 410px;
    padding: 15px;
    text-align: left;
}



.input-group{

}